*{
    margin: 0px;
    padding: 0px;
}

.form{
    width: 40%;
    margin: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.search{
    color: rgb(4, 204, 4);
    margin: auto;
}

.search:hover{
    color: rgb(4, 204, 4);
}