*{
    margin: 0px;
    padding: 0px;
}

.srch{
    display: flex;
    justify-content: center;
    margin: 30vh 0vh;
}

.srch__results{
    background-color: white;
    box-shadow: 0px 0px 20px 1px #4e4e4e91;
}